<h1>Your Movies</h1>
<% @movies.each do |movie| %>
  <% input = movie.title.gsub(" ","+") %>
  <% response = HTTP.get("https://www.omdbapi.com/?t=#{input}&apikey=d5600087") %>
  <% movie_response = response.parse(:json) %>
  <a href="/movies/<%= movie.id%>"><%= movie.title %></a>
  <br>
  <a href="/movies/<%= movie.id %>"><img src="<%= movie_response["Poster"] %>"></a>
  <br>
  <br>
<% end %>