<% random_id = rand(1...Movie.count) %>
<% @rand_movie = Movie.find_by(id: random_id) %>

<h1>Movie Night</h1>
<a href="/movies/<%= @rand_movie.id %>">Tonights Movie</a>
<br>
<a href="/movies/liked">My Movies</a>
<br>
<% if current_user %>
  <a href="/logout">Log Out</a>
<% else %>
  <a href="/login">Log In</a> 
  <a href="/signup">Sign Up</a>
<% end %>