<% random_id = rand(1...Movie.count) %>
<% @movie = Movie.find_by(id: random_id) %>

<h1>Movie Night App</h1>
<a href="/movies/<%= @movie.id %>">Show random movie</a>
<br>
<% if current_user %>
  <a href="/logout">Log Out</a>
<% else %>
  <a href="/login">Log In</a> 
  <a href="/signup">Sign Up</a>
<% end %>