body {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}

.carousel {
  width:300px;
  height:450px;
  margin: auto;
}

#mymovies {
  color: white;
  text-decoration: none;
}