body {
  background: radial-gradient(circle, rgba(87,86,217,1) 0%, rgba(0,0,0,1) 86%);
  text-align: center;
  color: white;
}

.carousel {
  width:300px;
  height:450px;
  margin: auto;
}

.mymovies {
  color: white;
  text-decoration: none;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  background-color: white;
  color: black;
}